div#canvas {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: silver;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  img {
    position: absolute;
    cursor: pointer;
  }
}
